.calendar {
  display: flex;
  flex-flow: column nowrap;
  width: 200px;

  &__nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

.month {
  display: flex;
  flex-flow: row wrap;
}

.day {
  outline: 1px solid transparent;
  display: flex;
  flex: 1 1 14%;
  justify-content: center;
  text-align: center;

  &--active {
    outline: 1px solid blue;
  }
}