.container {
  margin: 50px auto;
  max-width: 1200px;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.calendar {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 20px;
  width: 300px;

  &__nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 5px 0;
  }

  &__arr {
    cursor: pointer;
    padding: 5px;
  }

  &__current {
    padding: 5px;
  }
}

.month {
  border: 1px solid #ccc;
  display: flex;
  flex-flow: row wrap;
}

.day {
  cursor: pointer;
  border: 1px solid #ccc;
  display: flex;
  flex: 1 1 13%;
  justify-content: center;
  padding: 10px 0;
  text-align: center;

  &--active {
    border: 1px solid blue;
    text-decoration: underline;
  }

  &--has-events {
    background: #ccc;
  }
}

.events-list {
  padding: 0 30px;
  text-align: left;

  &__items {
    margin-top: 0;
    padding-left: 15px;
  }
}

.no-events {
  margin-bottom: 1em;
}

.remove {
  color: red;
  cursor: pointer;
  display: inline-block;
  padding: 0 10px;
}