.calendar {
  display: flex;
  flex-flow: column nowrap;
  width: 200px;

  &__nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

.month {
  display: flex;
  flex-flow: row wrap;
}

.day {
  display: flex;
  flex: 1 1 14%;
  text-align: center;

  &--active {
    background: blue;
  }
}